.landing{
    margin-top: 5rem;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.642), rgba(0, 0, 0, 0.632)), url('./assets/header-1.jpg');
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    color: #705a5a;
}

.stroke-text{
    -webkit-text-stroke: 1px #336CAE;
    color: transparent;
}

.hide-scrollbar::-webkit-scrollbar{
width: 0;
background-color: transparent;
}

.perspective {
    perspective: 1500px;
}

*[id] {
    scroll-margin-top: 4.4rem;
}


.blue-scroll::-webkit-scrollbar-track
{
	background-color: transparent;
}

.blue-scroll::-webkit-scrollbar
{
    height: 6px;
	background-color: transparent;
}

.blue-scroll::-webkit-scrollbar-thumb
{
 	background-color: #336cae;
}